.carousel{
    position:relative;
    margin: 0;
    width: auto;

}

.carousel .thumbs{
    display: none;
    
}

.navigation-home{
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    
    .navigation{

         ul li{
        color: $color1;
    }
    }
}

.navigation2-home{
   
    
    text-align: center;

     .navigation2{
        
         ul li{
        color: black;
    }
    }
}


@media screen and (max-width: 1180px) {

.navigation2-home{
    // position: absolute;
    // top: 1087px;
    // width: 100%;
        

        
    }

}
@media screen and (max-width: 820px) {
    .navigation-home{
    top:0px;
    
    .navigation{
        
         ul li{
        color: black;
    }
    }
    }

    .navigation2-home{
        position: absolute;
        width: 100%;
        top: 850px;
        .navigation2{
        
         ul li{
        color: black;
    }
    }
    }

    .carousel{
        top:280px;
    }
}

@media screen and (max-width: 730px) {
    .carousel{
        top: 555px;
    }

    .navigation2-home{
        position: relative;
        top: 500px;
    }
}

