.carousel{
    display:relative;
    margin: 0;

}

.carousel .thumbs{
    display: none;
    
}

.navigation-home{
    position: absolute;
    z-index: 100;
    background-color: #ffffff99;
    width: 100%;
    text-align: center;
}

.navigation2-home{
    position: absolute;
    top: 1087px;
    background-color: #ffffff99;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 820px) {
    .navigation-home{
    top:0px
    }

    .carousel{
        top:265px;
    }
}

@media screen and (max-width: 430px) {
    .carousel{
        top:550px;
    }
}

