.carousel{
    position:relative;
    margin: 0;
    width: 40%;

}
.image-carousel{
    padding-top: 50px;
    width: 85%;
    margin-left: 6.5%;
    
}
.image-carousel img{
    
    height: 950px;
    
}

.carousel .thumbs{
    display: none;
    
}

.navigation-home{
    
    z-index: 100;
    width: 100%;
    text-align: center;
    
    .navigation{

         ul li{
        color: $color3;
    }
    }
}

.navigation2-home{
   
    
    text-align: center;

     .navigation2{
        
         ul li{
        color: black;
    }
    }
}


@media screen and (max-width: 1180px) {

.image-carousel img{
    
    height: 700px;
    
}

}
@media screen and (max-width: 820px) {
    .navigation-home{
    top:0px;
    
    .navigation{
        
         ul li{
        color: black;
    }
    }
    }

    .navigation2-home{
        // position: absolute;
        width: 100%;
        top: 850px;
        .navigation2{
        
         ul li{
        color: black;
    }
    }
    }

    .image-carousel img{
    
    height: 550px;
    
}
}

@media screen and (max-width: 730px) {
 

    .image-carousel img{
        
        height: 400px;
        margin-bottom: 30px;
    
}
}


