@font-face {
    
    font-family: "font1";
    src: url('../Assets/fonts/AlexBrush-Regular.ttf');
}

$font1: "fonte1", sans-serif;

$color1: rgb(255, 255, 255);
$color2: rgb(248, 136, 233);
$color3: black;

li{
    list-style-type: none;
}
